body,
#root {
	margin: 0;
	min-height: 100vh;
	font-family: "Josefin Sans", sans-serif;
	text-align: center;
	overflow-x: hidden;
}

.title {
	font-family: Pacifico, cursive;
	margin: 3vh;
	font-size: 2.5em;
}

.title > h1 {
	margin: 0;
}

#header {
	margin: 0 auto;
	width: 350px;
}

.header-directory {
	padding-top: 5vh;
	padding-bottom: 2%;
	display: flex;
	justify-content: space-between;
}

#header a {
	text-decoration: none;
}

#footer {
	margin-top: auto;
	padding-top: 4em;
}

.footer-directory {
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	flex-direction: column;
	align-items: space-evenly;
	margin: auto;
}

.socials {
	display: flex;
	justify-content: space-evenly;
	margin: auto;
}

#footer a {
	text-decoration: none;
	padding: 5px;
}

#footer-copyright {
	margin: 0;
	padding-bottom: 20px;
}

.page-content {
	margin: 30px;
	margin-bottom: 5vh;
}

#blog-page-text {
	font-size: 1.4em;
	width: 60%;
	margin: auto;
}

#about-page-content {
	font-size: 1.5em;
	margin: auto;
	width: 60%;
	text-align: justify;
}

#about-page-raveen-face {
	border-radius: 20%;
	width: 100%;
	max-width: 500px;
}

#projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 20px;
	margin: auto;
	font-size: 1.5em;
}

.project-tile {
	display: grid;
	grid-template-columns: 1fr;
}

.project-tile div {
	place-self: center;
}

.project-tile-image {
	width: 100%;
	transition: all 0.75s ease;
	border-radius: 20px;
}

.project-status {
	text-decoration: underline;
	cursor: pointer;
}

@media screen and (width >= 700px) {
	.page-content {
		margin: 30px 10%;
	}

	.socials {
		width: 30%;
	}
}

@media screen and (width <= 700px) {
	body {
		font-size: 0.9em;
	}

	#about-page-content {
		width: 80%;
		text-align: left;
	}

	.page-content {
		margin: 10px;
	}

	.title {
		font-size: 1.5em;
	}

	#blog-page-text {
		width: 80%;
	}
}

@media screen and (width <= 400px) {
	#header {
		width: 300px;
	}

	.header-directory {
		justify-content: space-around;
	}

	#projects {
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	}

	body {
		font-size: 0.7em;
	}

	#footer {
		padding-top: 2em;
	}
}
